* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

ul {
  list-style: none;
}


a, button {
  cursor: pointer;
}

a {
  color: #000000;
  font-size: 17px;
  font-weight: 700;
}

button {
  border: none;
}

.header {
  padding: 16px 0;
}

.container {
  max-width: 1088px;
  margin: auto;
  padding: 0 16px;
}

.header__container {
  display: flex;
  align-items: center;
}


.nav {
  margin-right: 5.76vw;
  max-width: 423px;
  width: 100%;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  gap: 28px;
}

.nav li {
  font-weight: 700;
  color:#1C1B1B;
}

.logo {
  margin-right: 26vw;
}

.header__icons-wrapper {
  display: flex;
  align-items: center;
  column-gap: 10px;
  margin-left: auto
}

.introduction {
  background: #F0EFEB;
}

.introduction__text-block {
  max-width: 525px;
  padding: 90px 0;
}

.introduction__container {
  display: flex;
  justify-content:space-between;
}

.introduction__title {
  font-size: 60px;
  line-height: 70px;
  margin-bottom: 42px;
}

.introduction__text {
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 26px;
}


.introduction__button {
  color: #FFFFFF;
  background-color: #000000;
  font-size: 17px;
  line-height: 20px;
  padding: 8px 23px;
  border-radius: 100px;
}

.People {
  background-color:  #CCCCCC4D;
  font-size: 36px;
  padding: 76px 188px 51px 88px;
  
}

.Culture {
  background-color: #CCCCCC99;
  font-size: 36px;
  padding: 76px 188px 51px 88px;
}

.Power {
  background-color: #CCCCCC4D ;
  font-size: 36px;
  padding: 76px 188px 51px 88px;
  
}



.people__container {
display: flex;
padding: 76px 188px 88px 51px;

}



.people__text-block {
  font-size: 36px;
  padding: 83px 0px 7px 50px;
  align-items: center;
}

.people__text {
  line-height: 42px;
  max-width: 550px;
  max-height: 280px;
  width: 500px;
  height: 260px;
  font-size: 36px;
  

}

.People__title {
  width: 320px;
  margin-bottom: 31px;
  font-size: 36px;
}

.culture__title {
  font-size: 36px;
  
}

.culture__text {
 
  line-height: 42px;
  font-size: 36px;
  padding: 31px 0px;
}

.culture__text-block {
  
  text-align: right;
  padding-top: 29px;
  padding-right: 50px;
  height:525px;
  width: 1200px;
  
 
}

.culture__container {
  display: flex;
  padding: 76px 188px 88px 51px;
}

.power__title {
  font-size: 36px
}

.power__text {
  font-size: 36px;
  padding: 31px 0px 39px 0px;
}

.power__text-block {
  max-width: 550px;
  max-height: 500px;
  padding-left: 50px;
  padding-top: 29px;
}

.power__container {
  display: flex;
  padding: 76px 188px 88px 51px;
}

.guides{
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  text-align: center;
  margin: 60px 0 90px 0;
  
}

.guides-text {
  width: 632px;
  font-size: 20px;

}

.header__guides {
  font-size: 36px ;
}

.best-sellers {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  gap: 63px;
}

.french-culture {
  display: flex;
  flex-direction: column;
  gap: 27px;
  align-items: center;
}

.french__text {
  width: 156px;
  font-weight: 700;
  font-size: 17px;
}

.french-people {
  display: flex;
  flex-direction: column;
  gap: 27px;
  align-items: center;
}

.german-culture {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 27px;
}

.german__text {
  width: 164px;
  font-weight: 700;
  font-size: 17px;
}

.header__best-sellers {
  font-size: 36px;
}

