* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

ul {
  list-style: none;
}

a, button {
  cursor: pointer;
}

a {
  color: #000000;
  font-size: 17px;
  font-weight: 700;
}

button {
  border: none;
}

button:hover {
  transition: 0.3s all ease ;
  background-color: rgb(78, 78, 78);
}

.header {
  padding: 16px 0;
}

.container {
  max-width: 1088px;
  margin: auto;
  padding: 0 15px;
}

.header__container {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  max-width: 423px;
  width: 100%;
  gap:28px ;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  gap: 28px;
}

.nav li {
  font-weight: 700;
  color:#1C1B1B;
}

.logo {
  margin: 0 379px 0 83px;
}

.header__icons-wrapper {
  display: flex;
  align-items: center;
  column-gap: 10px;
  margin-left: auto
}

.introduction {
  background: #F0EFEB;
}

.introduction__text-block {
  max-width: 525px;
  padding: 90px 0;
}

.introduction__container {
  display: flex;
  justify-content:space-between;
}

.introduction__title {
  font-size: 60px;
  line-height: 70px;
  margin-bottom: 42px;
}

.introduction__text {
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 26px;
}

.introduction__button {
  color: #FFFFFF;
  background-color: #000000;
  font-size: 17px;
  line-height: 20px;
  padding: 8px 23px;
  border-radius: 100px;
}

.people {
  background-color:  #CCCCCC4D;
  font-size: 36px;
  padding: 76px 188px 51px 88px;
  
}

.culture {
  background-color: #CCCCCC99;
  font-size: 36px;
  padding: 76px 188px 51px 88px;
}

.power {
  background-color: #CCCCCC4D ;
  font-size: 36px;
  padding: 76px 188px 51px 88px;
}

.people__container {
  display: flex;
  padding: 76px 188px 88px 51px;
}

.people__text-block {
  font-size: 36px;
  padding: 83px 0px 7px 50px;
  align-items: center;
}

.people__text {
  line-height: 42px;
  max-width: 550px;
  max-height: 280px;
  width: 500px;
  height: 260px;
  font-size: 36px;
}

.people__title {
  width: 320px;
  margin-bottom: 31px;
  font-size: 36px;
}

.culture__title {
  font-size: 36px;
}

.culture__text {
  font-size: 36px;
  padding: 31px 0px;
}

.culture__text-block {
  text-align: right;
  padding-top: 29px;
  padding-right: 50px;
  resize: none;
}

.culture__container {
  display: flex;
  gap: 50px;
}

.power__title {
  font-size: 36px
}

.power__text {
  font-size: 36px;
  padding: 31px 0px 39px 0px;
}

.power__text-block {
  max-width: 550px;
  max-height: 500px;
  padding-top: 63px;
}

.power__container {
  display: flex;
  gap: 50px;
}

.guides {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  text-align: center;
  margin: 60px 0 90px 0;
}

.guides-text {
  width: 632px;
  font-size: 20px;
}

.header__guides {
  font-size: 36px ;
}

.best-sellers {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  gap: 63px;
}

.french-culture {
  display: flex;
  flex-direction: column;
  gap: 27px;
  align-items: center;
}

.french__text {
  width: 156px;
  font-weight: 700;
  font-size: 17px;
}

.french-people {
  display: flex;
  flex-direction: column;
  gap: 27px;
  align-items: center;
}

.german-culture {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 27px;
}

.german__text {
  width: 164px;
  font-weight: 700;
  font-size: 17px;
}

.header__best-sellers {
  font-size: 36px;
}

.colors {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.feauture-title {
  text-align: center;
  padding-top: 190px;
  font-size: 36px;
  font-weight: 400;
}

.item {
  text-align: center;
  padding-top: 69px;
  width: 338px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 24px;
  font-size: 30px;
  font-weight: 700;
}

.ball1 {
  width: 70px; 
  height: 70px;
  background: #21F7EC;
  border-radius: 50%;
}
.ball2 {
  width: 70px; 
  height: 70px;
  background: #33D3BC;
  border-radius: 50%;
}
.ball3 {
  width: 70px; 
  height: 70px;
  background: #18A5C6;
  border-radius: 50%;
}
.ball4 {
  width: 70px; 
  height: 70px;
  background: #D38F62;
  border-radius: 50%;
}
.ball5 {
  width: 70px; 
  height: 70px;
  background: #F94C43;
  border-radius: 50%;
}
.ball6 {
  width: 70px; 
  height: 70px;
  background: #D399FF;
  border-radius: 50%;
}

.interviews-title {
  padding-top:  163px;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
}

.interviews {
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(240,240,240,1) 35%);
  max-width: none;
  margin: 162px 0 130px 0 ;
}

.interviews::after {
  z-index: -1;
  position: absolute;
  content: '';
  background-color: #F0F0F0;
  min-width: none;
  width: 100%;
  height: 480px;
  left: 0;
  top: 550px;
}

.interviews__text-block {
  padding-top:35px;
  font-size: 22px;
  font-weight: 700;
  text-align: center;
}

.interviews__link {
  display: block;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
}

.quotes{
  position: relative;
  margin-bottom:  130px;
  
}

.quotes-title {
  background-color: white;
  font-size: 36px;
  font-weight: 700;
  margin: 162px 0 102px 0;
  text-align: center;
}

.person {
  max-width: 288px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.quotes__text-block {
  padding: 35px 0 71px 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.quote-text {
  font-size: 22px;
  font-weight: 700;
}

.author {
  padding-top: 40px; 
  font-size: 19px;
}

.quotes-container {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.quotes::after {
  content: '';
  position: absolute;
  background-color: #F0F0F0;
  width: 100%;
  height: 480px;
  z-index: -1;
  top: 390px;
  bottom: 0;
}

.footer {
  background-color: #000000;
}

.link-info {
  color: white;
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  padding-top: 12px;
}

.about-us {
  display: flex;
  flex-direction: column;
  text-align: start;
}

.media {
  display: flex;
  flex-direction: column;
  max-width: 129px;
  align-items: center;
  gap: 25px;
}

.logos {
  display: flex;
  gap: 20px;
}

.footer-container {
  padding: 51px 0 0 0;
  margin-bottom: 20px;
}

.info-block {
  display: flex;
  flex-direction: row;
  gap:25px ;
}

.footer-container {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-between;
}

.about-us__title {
  padding-bottom: 24px;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
}

.about-me-title {
  display: flex;
  justify-content: center;
  font-size: 36px;
  margin: 0 0 9px 0;
}

.about-me-text{
  text-align: center;
  font-weight: 700;
  font-size: 17px;
  max-width: 497px;
  margin: 0 0 26px 0;
}

.about-me-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name {
  display: flex;
  flex-direction: row;
  gap: 60px;
}

.about-me-input {
  display: flex;
  flex-direction: column;
  gap: 17px;
  max-width: 366px;
  margin-bottom: 16px;
}

input {
  padding: 13px 10px 8px;
}

.input-first-name {
  width: 100%;
}

.input-last-name {
  width: 100%;
}

.input-button {
  background-color: #000000;
  color: #FFFFFF;
  padding: 7px 23px 10px;
  border-radius: 100px;
  margin: 0 0 88px 0;
}

.company {
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  font-size: 14px;
  font-weight: 400;
}





/* MEDIA */

@media only screen and (max-width: 1200px) {

}


@media only screen and (max-width: 992px) {
  .body__image {
    display: none;
  }
}


@media only screen and (max-width: 768px) {

}


@media only screen and (max-width: 552px) {

}